@{
    ViewData["Title"] = "Privacy Policy";
}

<h2>@ViewData["Title"]</h2>
<p>Use this page to detail your site's privacy policy.</p>

<!-- Image placeholder -->
<img id="base64Image" src="" alt="Pie Chart" style="max-width: 100%; height: auto;"/>

@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/api/TimeEntries/GetImageAsBase64',
                type: 'GET',
                success: function (data) {
                    document.getElementById('base64Image').src = 'data:image/png;base64,' + data.imageData;
                },
                error: function (error) {
                    console.error("Error fetching data: ", error);
                }
            });
        });
    </script>
}
